:root {
    --dkblue: midnightblue;
    --wtsmoke: whitesmoke;
    --dkpurple: rgb(64, 0, 83);
    --ltpurple: rgb(168, 126, 180);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2%;
    background-color: #dbbfeb;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png"); 
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--dkpurple);
    color: var(--wtsmoke);
}

nav p {
    display: flex;
    justify-content: flex-start;
    color: var(--wtsmoke);
    padding: 14px;
    text-decoration: none;
    text-align: center;
}

nav a {
    color: var(--wtsmoke);
    padding: 14px;
    text-decoration: none;
    text-align: center;
}

header {
    padding: 2%;
    color: var(--dkblue);
    Font-size: 30px;
    background-color: var(--ltpurple);
    margin: 0 7.5em;
}

.intro {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-header {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
}
#info {
    font-size: 1.75rem;
}

h1 {
    font-size: 2rem;
    font-family: 'URW Chancery L', 'Apple Chancery', cursive, sans-serif;
    padding: 7px;
}
#foto{
    display: flex;
    justify-content: center;
    width: 75%;
}

.left-content {
    background-color: var(--dkpurple);
    color: var(--wtsmoke);
    padding: 15px;
    margin: 2% 2% 2% 0;
    border-radius: 15px;
}

.center-content {
    padding: 14px 14px;
    margin: 2% 2% 2% 0;
    background-color: var(--ltpurple);
    border-radius: 15px;
}

.form-control {
    width: auto;
}

#about-me p {
    font-family: Georgia, cursive, sans-serif;
    line-height: 22px;
    padding: 0 14px;
}
#portfolio h1 {
    display: flex;
    justify-content: center;
    color: var(--dkblue);
}

#portfolio div {
    font-family: Georgia, cursive, sans-serif;
    line-height: 22px;
    padding: 0 14px;
}

#webpage-1 img {
    width: 100%;
    margin: 15px 0
}

.webpages {
    display: flex;
}

.webpages div{
    margin: 15px 0;
    max-width: 15%;
}

.demo img {
    height:100%;
    width: 100%;
}

.inline-block {
    display: inline-block;
    min-width: 25%;
    margin: 1px;
}

#contact-me form {
    margin: auto;
    border-radius: 15px;
    display: block;
    line-height: 30px;
    font-family: Georgia, cursive, sans-serif;
    padding: 0 14px;
}

.button {
    padding: 10px 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--ltpurple);
    border: none;
    border-radius: 15px;
}

#myBtn {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 99;
    width: auto;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border: none;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .header,
    .left-content,
    #portimages,
    .center-content {width: 100%}
    .card-header {
        flex: 0 0 50%;
        max-width: 50%;}
}