* {
    box-sizing: border-box;
  }

  body {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0%;
      display: flex;
      flex-direction: column;
      background-color: darkgrey;
  }
   nav {
    display: flex;
    justify-content: flex-end;
    background-color: teal;
  }
  nav a {
      color: whitesmoke;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
  }
  header {
    display: block;  
    background-color: cadetblue;
    padding: 10%;
    color: darkslateblue;
    Font-size: 30px;
  }
  header h1 {
      display:flex;
      justify-content: center;
  }
  header div {
    display:flex;
    justify-content: center;
  }
  .left-content {
      background-color: rgb(0, 121, 151);
      padding: 14px 14px;
      margin: 20px; 
      border-radius: 15px;
  }
  .right-content {
      padding: 14px 14px;
      margin: 0px 20px 0px 20px;
      background-color: lightblue;
      border-radius: 15px;
    }
  #about-me {
      padding: 2px 20px;    
    }
  #portfolio h1{
      display: flex;
      justify-content: center;
      color: midnightblue;
  }
  #contact-me p {
      display: inline-flex;
  }