:root {
    --dkblue: midnightblue;
    --wtsmoke: whitesmoke;
    --dkpurple: rgb(64, 0, 83);
    --ltpurple: rgb(168, 126, 180);
    --ltgrey: rgb(207, 207, 207);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mate SC', serif;;
    background-color: #dbbfeb;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png"); 
}

.navbar {
    background-color: var(--ltgrey);
}

#vb-css {
    color: var(--dkpurple);
    font-weight: 600; 
}

header {
    background-color: var(--ltpurple);
    color: var(--dkblue);
    padding: 2%;
    border-radius: 0 0 15px 15px;
    
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    padding: 2%;
}

#info {
    color: var(--dkpurple);
    font-size: 25px;
    font-weight: 500;
}

#prim-know {
    font-size: 25px;
    font-weight: 600;
}

/* .center-content {
    padding: 14px 14px;
    margin: 2% 2% 2% 0;
    background-color: var(--ltpurple);
    border-radius: 15px;
}

.form-control {
    width: auto;
} */

h1 {
    font-size: 2rem;
    font-family: 'URW Chancery L', 'Apple Chancery', cursive, sans-serif;
}

#about-me {
    background-color: var(--dkpurple);
    color: var(--wtsmoke);
    padding: 15px;
    margin: 2%;
    border-radius: 15px;
    font-family: Georgia, cursive, sans-serif;
    line-height: 22px;
}

#portfolio {
    padding: 15px;
    margin: 2%;
    background-color: var(--ltpurple);
    border-radius: 15px;
}

#portfolio h1 {
    display: flex;
    justify-content: center;
    color: var(--dkblue);
    font-size: 2rem;
    font-weight: 550;
}

#portfolio div {
    margin: .5%;
}

.webpage{
    display: flex;
    justify-content: center;
}

.webpages {
    display: flex;
    justify-content: center;
}
.card{
    background-color: var(--ltgrey);
}

.card-sub {
    height: 200px;
}

.card-link {
    color: var(--dkblue);
    font-weight: 600;
    text-decoration: none;
}

#contact-me {
    background-color: var(--dkpurple);
    color: var(--wtsmoke);
    padding: 15px;
    margin: 2%;
    border-radius: 15px;
}

#contact-me form {
    margin: auto;
    border-radius: 15px;
    display: block;
    line-height: 30px;
    font-family: Georgia, cursive, sans-serif;
    padding: 0 14px;
}

#button {
    padding: 10px 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: var(--ltpurple);
    border: none;
    border-radius: 15px;
}

#myBtn {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: .5%;
    z-index: 99;
    width: auto;
    cursor: pointer;
    background-color: var(--ltgrey);
    color: var(--dkblue);
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

footer {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--dkblue);
    background-color: var(--ltpurple);
    padding: 1%;
    margin-top: 1%;
}

footer div {
    padding: .5%;
}

@media screen and (max-width: 576px) {
    .webpage {
        width: 18rem
    }
    .webpages {
      display: block;
    }
  }